{:deps {:aliases [:cljs]}
 :builds {:app {:target :browser
                :output-dir "resources/public/assets/js"
                :modules {:main {:init-fn frontend.core/init}}
                           }}
 :dev-http {5003 "resources/public"}}
